.hero {
  width: 100vw;
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero .title {
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 82px;
  font-style: normal;
  font-weight: 900;
  line-height: 79px; /* 96.341% */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero .title .main .color {
  color: #31d7a9;
}
.hero .title .sub {
  color: #fff;
  font-family: Poppins;
  font-size: 27px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.locationFilter {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas:
    "title title . . button button"
    "choose choose choose choose choose choose "
    ". . . . . submit";
  width: 1114px;
  height: 299px;
  flex-shrink: 0;
  position: absolute;
  padding: 0.5rem;
  gap: 2rem;
  background: linear-gradient(90deg, #1e1b13 0%, #171f23 100%);
  left: 12%;
  bottom: -25%;
}

.locationFilter .text {
  grid-area: title;
  display: flex;
  flex-direction: column;
}
.locationFilter .text p {
  color: #fff;
  font-family: Poppins;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  line-height: 1.2rem;
}
.locationFilter .text .welcome {
  font-size: 15px;
  font-weight: 400;
}

.locationFilter .blob1,
.locationFilter .blob2,
.locationFilter .blob3 {
  position: absolute;
}

.locationFilter .blob1 {
  bottom: 0;
  left: 17%;
}

.locationFilter .blob2 {
  top: 0;
  right: 14%;
}
.locationFilter .blob3 {
  top: 63%;
  right: 41%;
}

.locationFilter .select {
  grid-area: choose;
  border: 1px solid #606060;
  background: #262626;
  backdrop-filter: blur(2px);
  width: 1050px;
  height: 102px;
  flex-shrink: 0;
}

.locationFilter .select p {
  color: #fff;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.locationFilter .radio-inputs {
  grid-area: button;
  position: relative;
  z-index: 3;
  display: flex;
  flex-wrap: wrap;
  border-radius: 0.5rem;
  background-color: #212121;
  border: 1px solid rgba(255, 255, 255, 0.299);
  box-sizing: border-box;
  box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
  padding: 0.25rem;
  height: fit-content;
  width: 13rem;
  font-size: 14px;
  font-family: poppins;
}

.locationFilter .radio-inputs .radio {
  flex: 1 1 auto;
  text-align: center;
}

.locationFilter .radio-inputs .radio input {
  display: none;
}

.locationFilter .radio-inputs .radio .name {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  border: none;
  padding: 0.5rem 0;
  color: rgba(255, 255, 255, 0.588);
  transition: all 0.15s ease-in-out;
}

.locationFilter .radio-inputs .radio input:checked + .name {
  background-color: #e1e1e1;
  color: rgba(0, 0, 0, 0.525);
  font-weight: 600;
}

.locationFilter .submit {
  grid-area: submit;
}
.secondPage {
  width: 100vw;
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #050709;
}
