.secondPage {
  width: 100vw;
  /* height: calc(100vh - 80px); */
  padding-top: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #050709;
}

.secondPage h1 {
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 52px;
  font-style: normal;
  font-weight: 900;
  line-height: 79px; /* 96.341% */
}

.secondPage #unavailable {
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 79px; /* 96.341% */
}

.secondPage ul li {
  list-style: none;
}
